extends ../__template

block css

block js

block body
    h1.pagetitle Continuity of Learning Essentials
    .grid
        .col-6_xs-12
            .card
                .card-title Images
                .card-content
                    img(src="/static/src/projects/colessentials/main.png" alt="Continuity of Learning Essentials Website" width="100%")

        .col-6_xs-12
            .card
                .card-title Description
                .card-content
                    section
                        .text-lg.bold General
                        p This website was made during my intership at Wayne RESA as a resource for information for schools during the COVID-19 outbreak.

                    section
                        .text-lg.bold Languages
                        ul
                            li HTML
                            li CSS
                            li JavaScript

                    section
                        .text-lg.bold Toolset
                        ul
                            li WordPress CMS
                            li Creating ADA Compliant Content

                .card-footer
                    a.btn.btn-full(href="https://col-essentials.org/" target="_blank" rel="noopener noreferrer") Website Link