extends ../__template

block css

block js

block body
    h1.pagetitle Continuity of Learning Essentials
    .grid
        .col-6_xs-12
            .card
                .card-title Images
                .card-content
                    img(src="/static/src/projects/colessentials/main.png" alt="Continuity of Learning Essentials Website" width="100%")

        .col-6_xs-12
            .card
                .card-title Description
                .card-content
                    h2 Languages
                    ul
                        li HTML
                        li CSS
                        li JavaScript

                    h2 Toolset
                    ul
                        li WordPress CMS
                        li Creating ADA Compliant Content

                    h2 Description
                    ul
                        li During my internship at Wayne RESA made with the WordPress CMS
                        li Worked on the data interpretation and importation for the website
                        li Was published as a resource for information during the COVID-19 outbreak

                .card-footer
                    a.btn.btn-full(href="https://col-essentials.org/" target="_blank" rel="noopener noreferrer") Website Link