extends ../__template

block css

block js

block body
    .row
        .s6.s-xs-12.s-sm-12.s-md-6
            .card
                .card-title Image
                .card-content
                    img(src="/src/projects/kam-shooter.jpg" alt="Kam-Shooter-Project" width="100%")

        .s6.s-xs-12.s-sm-12.s-md-6
            .card
                .card-title Description
                .card-content
                    h3 Languages
                    ul
                        li TouchDevelopJS

                    h3 Description
                    p  This was the final project for my Computer Applications class, The class taught game programming through touch develop which is now a retired game engine my microsoft, but the game was our final project as we took our group member Kam and our teacher and made them fight to the death. The game was just a simple demonstration that I knew the basics of game programming and database integration. 
                    
                    h3 What I learned from making this website:
                    ul
                        li Creating enemies and templating them so that they are indipendent but dont need seperate code
                        li Creating enemies that shoot at the player and predict the players position and where they are going to move next 
                        li Networking behind making a database that holds all the leaderboard data and updates it with every game

                .card-footer
                    a.btn.btn-full(href="https://www.touchdevelop.com/zstknx" target="_blank") TouchDevelop Link
                    span Touch Develop is now Depricated and the game is no longer playable