extends ../__template

block css

block js

block body
    .row
        .col-xs-12.col-md-6
            .card
                .card-title Image
                .card-content
                    img(src="/src/projects/maze1.png" alt="Maze-Dungeon-Game-Maker-Project" width="100%")

        .col-xs-12.col-md-6
            .card
                .card-title Description
                .card-content
                    h3 Languages
                    ul
                        li JavaScipt [Game Maker Language]

                    h3 Description
                    strong Platform: 
                    | Windows
                    p This is the website you are currently reading this off of. This was a project of mine that I needed to show myself off showing some of my projects, my skills, and the tools I use to make everything.
                    
                    h3 What I learned from making this game:
                    ul
                        li Better collision with players hitting walls
                        li Using masks to create a lighting system
                        li Creating trace rays for better lighting and collision
                        li Gameplay mechanics and how they relate to the game as a whole and how to improve apon them

                .card-footer
                    a.btn.btn-full(href="/dl/PuzzleGame.exe" target="_blank" style="margin-bottom: 10px") Download Game
                    a.btn.btn-full(href="https://github.com/ebraptus/PuzzleGame" target="_blank") Github Source Code
