extends ../__template

block css

block js

block body
    h1.pagetitle Michigan STEM Network Website
    .row
        .col-xs-12.col-md-6
            .card
                .card-title Image
                .card-content
                    img(src="/static/src/projects/MiSTEM.png" alt="Screen Capture of MiSTEM website" width="100%")

        .col-xs-12.col-md-6
            .card
                .card-title Description
                .card-content
                    h3 Languages
                    ul
                        li HTML
                        li CSS
                        li JavaScript

                    h3 Made With
                    ul
                        li WordPress

                    h3 Description
                    p This was a website made for the Michigan Wayne Regional STEM Network. I made this website in wordpress for the Michigan STEM network. It was my first time using a Content Management System instead of directly coding the website and it came out well.
                    
                    h3 What I learned from making this website:
                    ul
                        li Using a Content Management System in this case WordPress
                        li Creating accessible web content for people with disabilities
                        li Creating a website using a more professional programming standard

                .card-footer
                    a.btn.btn-full(href="https://mistem.resa.net/" target="_blank") Link to Website