extends ../__template

block css

block js

block body
    h1.pagetitle Michigan STEM Network Website
    .grid
        .col-6_xs-12
            .card
                .card-title Image
                .card-content
                    img(src="/static/src/projects/mistem/MiSTEM.png" alt="Screen Capture of MiSTEM website" width="100%")

        .col-6_xs-12
            .card
                .card-title Description
                .card-content
                    section
                        .text-lg.bold General
                        p Made for the Wayne Regional STEM Network nad is made in WordPress CMS.

                    section
                        .text-lg.bold Languages
                        ul
                            li HTML
                            li CSS
                            li JavaScript

                    section
                        .text-lg.bold Made With
                        ul
                            li WordPress

                .card-footer
                    a.btn.btn-full(href="https://mistem.resa.net/" target="_blank") Link to Website