extends ../__template

block css

block js

block body
    h1.pagetitle MTAG Game Website
    .grid
        .col-6_xs-12
            .card
                .card-title Image
                .card-content
                    img(src="/static/src/projects/mtag/mtagsite.png" alt="Portfolio-Picture-Project-Website" width="100%")

        .col-6_xs-12
            .card
                .card-title Description
                .card-content
                    section
                        .text-lg.bold General
                        p Made for my Game Programming & Design vocational tech class. It showcases student Mini Text Adventure games in one spot for them all to be previewed and played.

                    section
                        .text-lg.bold Languages
                        ul
                            li HTML
                            li CSS / LESS
                            li JavaScript

                    section
                        .text-lg.bold Made With
                        ul
                            li
                                a(target="_blank" href="https://fonts.google.com/") Google Fonts
                                |  - For font management
                            li
                                a(target="_blank" href="https://jquery.com/") jQuery
                                |  - JavaScript Library

                .card-footer
                    a.btn.btn-full(href="http://mtag.johndeshano.me/" target="_blank" style="margin-bottom: 10px") Website Link
                    a.btn.btn-full(href="https://github.com/johndeshano/MTAG-Website" target="_blank") Github Source Code