extends ../__template

block css

block js

block body
    .row
        .col-xs-12.col-md-6
            .card
                .card-title Image
                .card-content
                    img(src="/src/projects/portfolio.jpg" alt="Portfolio-Picture-Project-Website" width="100%")

        .col-xs-12.col-md-6
            .card
                .card-title Description
                .card-content
                    h3 Languages
                    ul
                        li HTML
                        li CSS [LESS PreProcessor]
                        li JavaScript
                        li Python

                    h3 Made With
                    ul
                        li
                            a(target="_blank" href="https://www.nginx.com/") NGINX
                            |  - Used for serving the web pages
                        li
                            a(target="_blank" href="https://www.freedesktop.org/wiki/Software/systemd/") Systemd
                            |  - To deploy the service
                        li
                            a(target="_blank" href="http://flask.pocoo.org/") Python Flask
                            |  - The Web Framework
                        li
                            a(target="_blank" href="http://jinja.pocoo.org/") Jinja2
                            |  - Page templating
                        li
                            a(target="_blank" href="https://uwsgi-docs.readthedocs.io/en/latest/") uWSGI
                            |  - For deployment of the web server
                        li
                            a(target="_blank" href="https://fonts.google.com/") Google Fonts
                            |  - For font management
                        li
                            a(target="_blank" href="https://jquery.com/") jQuery
                            |  - JavaScript Library
                        li
                            a(target="_blank" href="https://fontawesome.com/") Font Awesome
                            |  - For the <i>awesome</i> icons

                    h3 Description
                    p This is the website you are currently reading this off of. This was a project of mine that I needed to show myself off showing some of my projects, my skills, and the tools I use to make everything.
                    
                    h3 What I learned from making this website:
                    ul
                        li Using Flask to serve data to the user without exposing any data
                        li Converting a project from Flash to Django
                        li Setting up uWSGI to deploy a Django server
                        li Creating Ubuntu Systemd services to start the website on its own
                        li Using uWSGI to deploy the web server using sockets to connect to NGINX
                        li Creating a website using templates so that the pages are consistant and easy to make
                        li Better CSS styling when it comes to mobile design and making more responsive websites
                .card-footer
                    a.btn.btn-full(href="https://github.com/ebraptus/Portfolio" target="_blank") Github Source Code