extends ../__template

block css

block js

block body
    h1.pagetitle Wayne RESA Website
    .grid
        .col-6_xs-12
            .card
                .card-title Image
                .card-content
                    .text-lg.bold Before
                    img(src="/static/src/projects/wresa/wresa_old.png" alt="Wayne RESA Website Before" width="100%")

                    .text-lg.bold After
                    img(src="/static/src/projects/wresa/wresa.png" alt="Wayne RESA Website After" width="100%")

        .col-6_xs-12
            .card
                .card-title Description
                .card-content
                    section
                        .text-lg.bold General
                        ul
                            li Published December 20th 2019

                        p Made durring my internship at Wayne RESA. I worked on transfering all the information from Foxbright CMS to the FinalSite CMS.
                    section
                        .text-lg.bold Languages
                        ul
                            li HTML
                            li CSS
                            li JavaScript

                    section
                        .text-lg.bold Toolset
                        ul
                            li Foxbright CMS
                            li Finalsite CMS
                            li Creating ADA Compliant Content

                .card-footer
                    a.btn.btn-full(href="https://www.resa.net/" target="_blank" rel="noopener noreferrer") Website Link