extends ../__template

block css

block js

block body
    h1.pagetitle Wayne RESA Website
    .row
        .col-xs-12.col-md-6
            .card
                .card-title Image
                .card-content
                    h2 Before
                    img(src="/static/src/projects/wresa_old.png" alt="Wayne RESA Website Old" width="100%")

                    h2 After
                    img(src="/static/src/projects/wresa.png" alt="Wayne RESA Website Old" width="100%")

        .col-xs-12.col-md-6
            .card
                .card-title Description
                .card-content
                    h2 Languages
                    ul
                        li HTML
                        li CSS
                        li JavaScript

                    h2 Toolset
                    ul
                        li Foxbright CMS
                        li Finalsite CMS
                        li Creating ADA Compliant Content

                    h2 Description
                    p During my internship at Wayne RESA I helped work on transferring the main RESA website from Foxbright CMS to Finalsite CMS.
                    p I worked from start to finish on transferring the content and development of the website.
                    p The new website was officially published December 20th 2019

                .card-footer
                    a.btn.btn-full(href="https://www.resa.net/" target="_blank" rel="noopener noreferrer") Website Link