{% extends '__template.html' %}

{% set blockset = "s-xs-12 s-sm-12 s-md-12 s-lg-6 s-lg-offset-3" %}

{% block body %}
	<div class="row row-stretch">
		<div class="{{ blockset }}">
			<div class="card">
				<div class="title">Contact</div>
				<div class="content">
					You can contact me by leaving me an email at: <a href="mailto:john@johndeshano.me">john@johndeshano.me</a> or messaging me on one of my many social media platforms listed on the about me page.
				</div>
			</div>
		</div>
	</div>
{% endblock %}