{% extends '__template.html' %}

{% set title = "Education" %}
{% set blockstyle = "s-xs-12 s-sm-12 s-md-6" %}

{% block body %}
	<h1>Certifications</h1>
	<div class="row row-stretch">
		<div class="{{ blockstyle }}">
			<div class="card">
				<div class="title">MTA: Windows Operating System Fundamentals</div>
				<div class="content">
					<div>Date: 31 May 2018</div>
					<div>Issuer: Microsoft</div>
					<div>Skills: Operating System Configuration, Operating System Management</div><br>
				</div>
				<div class="footer">
					<a href="https://www.youracclaim.com/profile/badges/43655f28-728b-40ee-9118-199f28a4c218" target="_blank" class="btn btn-full">More Info</a>
				</div>
			</div>
		</div>

		<div class="{{ blockstyle }}">
			<div class="card">
				<div class="title">MTA: Introduction to Programming Using HTML and CSS</div>
				<div class="content">
					<div>Date: 16 May 2018</div>
					<div>Issuer: Microsoft</div>
					<div>Skills: CSS, HTML, HTML5</div><br>
				</div>
				<div class="footer">
					<a href="https://www.youracclaim.com/badges/14ffcd47-7580-4551-ad3d-a1562a1ad834" target="_blank" class="btn btn-full">More Info</a>
				</div>
			</div>
		</div>

		<div class="{{ blockstyle }}">
			<div class="card">
				<div class="title">MTA: Introduction to Programming Using JavaScript</div>
				<div class="content">
					<div>Date: 16 May 2018</div>
					<div>Issuer: Microsoft</div>
					<div>Skills: JavaScript</div>
				</div>
				<div class="footer">
					<a href="https://www.youracclaim.com/badges/ff281f65-9362-4bd4-a8df-df8c81e17ac9" target="_blank" class="btn btn-full">More Info</a>
				</div>
			</div>
		</div>

		<div class="{{ blockstyle }}">
			<div class="card">
				<div class="title">MTA: Introduction to Programming Using Python</div>
				<div class="content">
					<div>Date: 17 May 2018</div>
					<div>Issuer: Microsoft</div>
					<div>Skills: Python, Python Programming</div>
				</div>
				<div class="footer">
					<a href="https://www.youracclaim.com/badges/25585530-f812-42f6-bd30-279b598bac34" target="_blank" class="btn btn-full">More Info</a>
				</div>
			</div>
		</div>

		<div class="{{ blockstyle }}">
			<div class="card">
				<div class="title">MTA: Introduction to Programming using Block-Based Languages </div>
				<div class="content" style="padding-bottom: 30px">
					<div>Date: 17 May 2018</div>
					<div>Issuer: Microsoft</div>
					<div>Skills: Block Based Programming, Design Algorithms, Modeling and Simulation, Software Development Process, Touch Develop</div>
				</div>
				<div class="footer">
					<a href="https://www.youracclaim.com/badges/00b48444-1a81-4b41-820d-f59935c0115e" target="_blank" class="btn btn-full">More Info</a>
				</div>
			</div>
		</div>
	</div>


	<h1>Education</h1>
	<div class="row row-stretch">
		<div class="{{ blockstyle }}">
			<div class="card">
				<div class="title">Game Design & Programming</div>
				<div class="content">
					<div><strong>Languages:</strong> JavaScript, GameMaker Language</div>
					<div><strong>Year:</strong> 2017 - 2018, Junior Year of Highschool</div>
					<p>
						This is a course I took in high school in the 11th grade, this is a class that teaches not only Javascript programming as
						well as game programming in Game Make Studio 2, This class also taught me a lot of good resources like Agile software development
						and how to work better as a team. This class was a good leanring experiance as I knew a lot of programming already but not
						a lot of class for say was programming. A lot of it also taught me what to do in a software development enviroment.
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}