{% extends '__template.html' %}
{% set title = "Education" %}

{% block stylesheets %} {% endblock %}
{% block scripts %} {% endblock %}

{% set blockstyle = "s-xs-12 s-sm-12 s-md-6 s-lg-4" %}

{% block body %}
	<h1>Education</h1>
	<div class="row row-stretch">
		<div class="{{ blockstyle }}">
			<div class="card">
				<div class="title">Computer Science 1</div>
				<div class="content">
					<p>
						In 10th grade I took a computer science class, in this class I learned about the basic functionality of computers, such as
						what binary is, why its used, and where its used. Also learned a few basic functionality of computers. The class was
						more focused on programming later into the year where the class learned Javascript through Touch Develop. I knew almost
						everything this class had to teach going into it other than how to use Touch Develop, and some of the team building
						skills that where taught.
					</p>
				</div>
			</div>
		</div>

		<div class="{{ blockstyle }}">
			<div class="card">
				<div class="title">Art Tech</div>
				<div class="content">
					<p>
						I took Art Tech in my freshman year of highschool, This class was oreintated around Photoshop, and the very basic more practical
						uses. This class didn't do me much good as I knew pretty much everything already but was still useful for refining my
						photoshop skills.
					</p>
				</div>
			</div>
		</div>

		<div class="{{ blockstyle }}">
			<div class="card">
				<div class="title">Vocational Tech - Game Design and Programming</div>
				<div class="content">
					<p>
						This is a course I took in high school in the 11th grade, this is a class that teaches not only Javascript programming as
						well as game programming in Game Make Studio 2, This class also taught me a lot of good resources like Agile software development
						and how to work better as a team. This class was a good leanring experiance as I knew a lot of programming already but not
						a lot of class for say was programming. A lot of it also taught me what to do in a software development enviroment.
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}