{% extends '__template.html' %}
{% set title = "Home" %} 

{% block stylesheets %} 
	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block scripts %} {% endblock %}

{% block body %}
<h1>About Me</h1>
<div class="row">
    <div class="s12">
        <div class="card">
            <div class="title">About Me</div>
            <div class="content">
                My name is John de Shano, I am a 16 year old software engineer, web developer, and security researcher from Westland, Michigan.
                <p>
                    I am currently a junior in high school at Wayne Memorial. I have been programming since I was
                    8, starting on a family computer with batch programs that asked simple questions, later I started learning
                    HTML, CSS, and Javascript. I began learning C++ in December of 2016 as my first time actually learning
                    a full object based programming language. Later, using it to learn about reverse engineering programs
                    and see the assembly and how it relates to the machine itself.
                </p>
                <p>
                    I have always liked making things, but I am better at breaking them.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}