{% extends '__template.html' %}

{% set blockstyle = "s-xs-12 s-sm-12 s-md-6 s-lg-4" %}

{% block body %}
<div class="row row-stretch">
    <div class="{{ blockstyle }}">
        <div class="card">
            <div class="title">Python</div>
            <div class="content">
                <div class="progress">
                    <div class="bar" data-percent="60"></div>
                </div>
                <p>
                    I use python for my back end on a lot of websites now. Combined with Flask I find python as a very good alternative to PHP.
                    I use this for a backend on most of my websites now and I have a pretty good understanding of the language
                    from this.
                </p>
            </div>
        </div>
    </div>

    <div class="{{ blockstyle }}">
        <div class="card">
            <div class="title">C++</div>
            <div class="content">
                <div class="progress">
                    <div class="bar" data-percent="60"></div>
                </div>
                <p>
                    C++ is my favorite programming language currently. I have learned since December of 2016, Where I first started with C++
                    Primer 5th edition by Stanley B Lippman. But books are the best way for me to learn. I did most of my
                    learning by trial and error, Google, MSDN, and studying other people's source code. I would say I have
                    a decent mastery of the programming language, but I still have a lot of learning to do. The only parts
                    of C++ that I know are the parts I use. So of course there is still a lot of learning to be done. I have
                    plenty more learning to do though, and I am always extensively reaching out to learn this language as
                    much as possible.
                </p>
            </div>
        </div>
    </div>

    <div class="{{ blockstyle }}">
        <div class="card">
            <div class="title">HTML</div>
            <div class="content">
                <div class="progress">
                    <div class="bar" data-percent="90"></div>
                </div>
                <p>
                    As HTML is one of the first languages I ever learned, it is one of my best languages, As HTML is a not a very complicated
                    language I know almost everything there could be to know, There is of course still stuff I do not know
                    as it is stuff I do not know as I have not ever needed it so I have not spent the time to learn it.
                </p>
            </div>
        </div>
    </div>

    <div class="{{ blockstyle }}">
        <div class="card">
            <div class="title">LESS</div>
            <div class="content">
                <div class="progress">
                    <div class="bar" data-percent="80"></div>
                </div>
                <p>
                    LESS is one of my newer languages that I am learning, I have been learing it for better web development, I started learning
                    this alongside with flask for better fullstackd development and from my experiance I have gained pretty
                    good knowledge of how the languge is structured and from this better CSS code
                </p>
            </div>
        </div>
    </div>

    <div class="{{ blockstyle }}">
        <div class="card">
            <div class="title">CSS</div>
            <div class="content">
                <div class="progress">
                    <div class="bar" data-percent="100"></div>
                </div>
                <p>
                    I learned CSS with HTML as they are mostly needed for each other, I have not gone into great lengths so learn CSS as it is
                    a very self explanatory language. And there is not much to know about CSS and with all the libraries
                    available online. I have spent a long time using it so I understand the structure and most of the selectors
                    and how they work, with my experiance if there is any problem I can fix it with just a litle research
                </p>
            </div>
        </div>
    </div>

    <div class="{{ blockstyle }}">
        <div class="card">
            <div class="title">Javscript</div>
            <div class="content">
                <div class="progress">
                    <div class="bar" data-percent="80"></div>
                </div>
                <p>
                    JavaScript being a very basic language and the language most people go to, to start learning programming is not a language
                    I have ever really taken an interest in. As it is a very basic language you can not exactly do what I
                    like doing in JavaScript so I have kept my learning to web development with it. I did take a course in
                    my Sophomore year of High School on this, With learning it in TouchDevelop, But I had already known all
                    that I was learning in the class as it was for people who had never programmed before. I would say I
                    have a moderate knowledge of the language and I know the ins and outs of the syntax, but I do not know
                    much about actually using the language with things such as Libraries, But with a small amount of googling
                    and time I would be able to make just about anything.
                </p>
            </div>
        </div>
    </div>

    <div class="{{ blockstyle }}">
        <div class="card">
            <div class="title">PHP</div>
            <div class="content">
                <div class="progress">
                    <div class="bar" data-percent="60"></div>
                </div>
                <p>
                    I have spent a small time using PHP, I only used it to create login forms for my website using MySQL with it. A very basically
                    knowledge of the language, but I know the syntax of the language quite well. And with a small amount
                    of goggling and time I am able to learn the language quite easily.
                </p>
            </div>
        </div>
    </div>

    <div class="{{ blockstyle }}">
        <div class="card">
            <div class="title">MySQL</div>
            <div class="content">
                <div class="progress">
                    <div class="bar" data-percent="50"></div>
                </div>
                <p>
                    I have used MySQL on a few occasions such as for my websites I used it to store the user information, and when I made game
                    servers for me and friends to play on for video games I would use MySql to store the users' information.
                    But I never went into depths with this language and I know some of the syntax but not a lot. Another
                    one of my favorite languages as it is so versatile and useful, but I have not had a lot of experience
                    actually using it to actually learn it.
                </p>
            </div>
        </div>
    </div>

    <div class="{{ blockstyle }}">
        <div class="card">
            <div class="title">Game Maker Language</div>
            <div class="content">
                <div class="progress">
                    <div class="bar" data-percent="80"></div>
                </div>
                <p>
                    In my game programming and design class, we used game maker as our game engine so I became pretty familiar with Game Maker
                    Language, It isn't one of my most fluelt languages and one I will be persuing, but I have learned it
                    in depth enough to get what I need to get done.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}