{% extends '__template.html' %}
{% set title = "Projects" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
{% endblock %}

{% block scripts %} {% endblock %}

{% set blockset = "s-xs-12 s-sm-12 s-md-6 s-lg-4" %}

{% block body %}
<h1>Projects</h1>
<div class="row">
	<div class="{{ blockset }}">
		<a href="{{ url_for('project_portfolio') }}" class="card-selectable">
				<img class="image" src="{{ url_for('static', filename='src/projects/portfolio.jpg') }}" alt="Project-Portfolio" width="100%">
			<div class="title white">Portfolio Website</div>
		</a>
	</div>

	<div class="{{ blockset }}">
		<a href="{{ url_for('project_kamshooter') }}" class="card-selectable">
			<img src="{{ url_for('static', filename='src/projects/kam-shooter.jpg') }}" alt="Project-Kam-Shooter" width="100%">
			<div class="title white">Kam Shooter</div>
		</a>
	</div>

	<div class="{{ blockset }}">
		<a href="{{ url_for('project_console') }}" class="card-selectable">
			<img src="{{ url_for('static', filename='src/projects/console.jpg') }}" alt="Project-Console" width="100%">
			<div class="title white">Console</div>
		</a>
	</div>

	<div class="{{ blockset }}">
		<a href="{{ url_for('project_maze') }}" class="card-selectable">
			<img src="{{ url_for('static', filename='src/projects/maze1.png') }}" alt="Project-Dungeon-Maze-Game" width="100%">
			<div class="title white">Dungeon Maze Game</div>
		</a>
	</div>
</div>
{% endblock %}