{% extends '__template.html' %}
{% set title = "Skills" %}

{% block stylesheets %} {% endblock %}
{% block scripts %} {% endblock %}

{% set blockstyle = "s-xs-12 s-sm-12 s-md-6 s-lg-4" %}

{% block body %}
<h1>Skills</h1>
<div class="row row-stretch">
	<div class="{{ blockstyle }}">
		<div class="card">
			<div class="title">Programming</div>
			<div class="content">
				<p>
					I have been programming since I was 8 starting with small batch programs. I spent hours in batch playing with these batch
					programs, Googling around and finding source code to paste together small games, Ones that would ask questions, and
					would very the output based on the users input. I also worked on small things like making little batch programs that
					were just "Ease of Life" by completing small tasks for me. As of December of 2016, I started to take on the project
					of learning C++ as fully As I possibly could. Spending the time to learn C++ and incorporate and improve Upon my reverse
					engineering skills.
				</p>
			</div>
		</div>
	</div>

	<div class="{{ blockstyle }}">
		<div class="card">
			<div class="title">Debugging</div>
			<div class="content">
				<p>
					From all the time I was doing assembly level debugging, I have learned quite a bit about debugging applications. And from
					my Vocational Tech class I helped the class when it came to debugging and fixing errors in students applications.
				</p>
			</div>
		</div>
	</div>

	<div class="{{ blockstyle }}">
		<div class="card">
			<div class="title">Visual Design</div>
			<div class="content">
				<p>
					I spend some of my free time playing in Photoshop and Cinema 4D, While I am no professional I have some skills that allow
					me to do what I am looking for in these programs. I spent more time in Photoshop just creates effects which came out
					quite nicely for what I wanted.
				</p>
			</div>
		</div>
	</div>

	<div class="{{ blockstyle }}">
		<div class="card">
			<div class="title">Agile</div>
			<div class="content">
				<p>
					I have used Agile in my Vocational Tech class, we used it when working on projects to help us get our work done and make
					sure when we worked together that we got everythign we needed done and in a time effective way.
				</p>
			</div>
		</div>
	</div>

	<div class="{{ blockstyle }}">
		<div class="card">
			<div class="title">Reverse Engineering </div>
			<div class="content">
				<p>
					The thing I love doing most is breaking things, And hopefully putting them back together. I spend a lot of time looking into
					programs in IDA, ReClass, WinDBG, and Cheat Engine. Assembly is one of my favorite, but most inexperienced programming
					languages. If there is one thing I would love to learn more of and I started to do whenever I can, Is reverse engineering.
					I am not the best at it, but I have done some work that gives me quite a bit of experience working in environments such
					as IDA. Where I learned quite a bit about how computers work. Such as memory addresses, pointers, How hexadecimal relates
					to assembly and how assembly relates to the programming language.
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}