@main-color: #0288D1;
@danger-color: #F44336;
body {
    font-family: 'Lato', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEE;
    font-size: 16px;
    line-height: 1.6;
    &>*:first-child {
        margin-top: 0 !important;
    }
    &>*:last-child {
        margin-bottom: 0 !important;
    }
}

a {
    text-decoration: none;
    &:visited {
        color: blue;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: antialiased;
    font-family: 'Oswald', sans-serif;
    color: #212529;
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    cursor: text;
    position: relative;
}

.mute {
    color: #777;
}

.black {
    color: black !important;
}

.white {
    color: white !important;
}

.red {
    color: red !important;
}

.blue {
    color: blue !important;
}

.green {
    color: greeen !important;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: all;
}

.card,
.card-selectable {
    border-radius: 5px;
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    &:not(.card-selectable){
        height: 100%;
    }
    img {
        transition: all 250ms;
        border-radius: 5px;
        display: block;
    }
    &.card-selectable {
        overflow: hidden;
        &:hover {
            img {
                filter: grayscale(100%);
                transform: scale(1.2);
            }
        }
        img+.title {
            display: block;
            position: absolute;
            top: 0px;
            text-align: center;
            width: 100%;
        }
    }
    .title {
        font-family: 'Oswald', sans-serif;
        font-size: 22px;
        color: #424242;
        padding: 15px;
        padding-bottom: 0;
    }
    .content {
        padding: 10px 20px;
        &>p:first-child {
            padding: 0;
            margin: 0;
        }
    }
    .footer {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: calc(~"100% - 20px");
        margin: 0 10px;
    }
}

.input-field{
    input, textarea{
        width: 100%;
        border: none;
        font-size: 18px;
        border-bottom: solid 2px #ccc;
        background-color: white;
        height: 35px;
        line-height: 35px;
        transition: all 100ms ease-in-out;
        box-shadow: none;
        outline: none;
        &.invalid {
            border: none;
            outline: none;
            border-bottom: solid 2px red;
            &+label {
                color: red;
            }
        }
        &.float,
        &:focus {
            border-bottom: solid 2px @main-color;
            &+label {
                color: @main-color;
                bottom: 55px;
                font-size: 14px;
            }
        }
    }
    textarea{
        height: auto;
        resize: none;
    }
    label {
        display: block;
        pointer-events: none;
        height: 30px;
        line-height: 30px;
        position: relative;
        bottom: 30px;
        color: #aaa;
        font-size: 18px;
        transition: all 50ms ease-in-out;
    }
}

.btn {
    padding: 8px 15px;
    background-color: @main-color;
    border: solid 1px lighten(@main-color, 5);
    color: white !important;
    font-size: 18px;
    border-radius: 2px;
    &.btn-full {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    &.btn-danger {
        background-color: @danger-color;
        border: solid 1px lighten(@danger-color, 5);
    }
    .fab{
        padding-right: 8px;
    }
}

.table {
    display: block;
    .table-row {
        display: flex;
        flex-direction: row;
        border-bottom: solid 1px #ccc;
        &:last-child {
            border-bottom: none;
        }
        &.header .cell {
            color: #777;
            font-size: 14px;
            padding: 10px 15px;
        }
        .cell {
            display: block;
            flex: 1;
            font-size: 18px;
            padding: 15px;
        }
    }
}

.progress {
    display: block;
    background-color: lighten(@main-color, 50);
    width: 100%;
    .bar[data-percent] {
        width: 100%;
        display: block;
        background-color: @main-color;
        text-align: center;
        color: white;
        height: 15px;
        line-height: 15px;
        font-size: 12px;
        border-radius: 2px;
        &::after {
            content: attr(data-percent) + "%";
        }
    }
}