[Unit]
Description=uWSGI instance to serve portfolio
After=syslog.target

[Service]
ExecStart=/var/www/Portfolio/extra/start.sh
KillSignal=SIGQUIT
Restart=always
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
