{% extends "__template.html" %}
{% set title="Portfolio Project" %}

{% block style %} {% endblock %}
{% block scripts %} {% endblock %}

{% block body %}
<h1>Portfolio Project</h1>
<div class="row">
    <div class="s-xs-12 s-sm-12 s-md-6">
        <div class="card">
            <div class="title">Image</div>
            <div class="content">
                <img src="{{ url_for('static', filename='src/projects/portfolio.jpg') }}" alt="Portfolio-Picture-Project-Website" width="100%">
            </div>
        </div>
    </div>
    <div class="s-xs-12 s-sm-12 s-md-6">
        <div class="card">
            <div class="title">Description</div>
            <div class="content">
                <h4 class="languages">Languages: HTML, LESS, JS, Python</h4>
                <h4 class="libraries">Libraries: Flask, Jinja</h4>
                <p>
                    This is the website you are currently reading this off of. This was a project of mine that I needed to show myself off showing
                    some of my projects, my skills, and the tools I use to make everything.
                </p>
                <p>
                    What I learned from making this website:
                    <li>Using flask to serve data to the user without exposing any data</li>
                    <li>Creating a website using templates so that the pages are consistant and easy to make</li>
                    <li>Better CSS styling when it comes to mobile design and making more responsive websites</li>                    
                </p>
                <a href="https://github.com/ebraptus/Portfolio" class="btn btn-full">Github source code</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}