@background-primary: #191919;
@background-secondary: lighten(@background-primary, 7);

@header-height: 80px;
@header-background: #ebebeb;

@footer-background: @background-secondary;

@main-color: #67daff;
@danger-color: #f44336;

@mobile-nav-background: #212121;
@mobile-nav-width: 200px;

*, *::before, *::after{
   box-sizing: border-box;
}

#mobileNavToggle {
   display: none;
   color: black;
   font-size: 36px;
   float: right;
}

.hide{
  display: none;
}

.carousel{
  display: block;
}

ul{
   margin-top: 0;
   margin-bottom: 0;
}

body {
   background-color: @background-primary;
   font-family: "Roboto", sans-serif;
   color: #eee;
   margin: 0;
   padding: 0;
   line-height: 1.6;
   & > *:first-child {
      margin-top: 0 !important;
   }
   & > *:last-child {
      margin-bottom: 0 !important;
   }
}

a {
   text-decoration: none;
   color: #03a9f4;
   &:visited {
      color: #67daff;
   }
}

h1,
h2,
h3,
h4,
h5,
h6 {
   -webkit-font-smoothing: antialiased;
   font-family: "Roboto Condensed", sans-serif;
   color: #eee;
   margin: 20px 0 10px 0;
   padding: 0;
   font-weight: bold;
   cursor: cursor;
   position: relative;
}

.mute {
   color: #777;
}

.black {
   color: black !important;
}

.white {
   color: white !important;
}

.red {
   color: red !important;
}

.blue {
   color: blue !important;
}

.green {
   color: greeen !important;
}

.right {
   float: right;
}

.left {
   float: left;
}

.clear {
   clear: all;
}

.row{
   & > div{
      margin-bottom: 15px;
   }
}

.card, .card-selectable {
   width: 100%;
   border-radius: 5px;
   background-color: @background-secondary;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5), 0 1px 5px 0 rgba(0, 0, 0, .8), 0 3px 1px -2px rgba(0, 0, 0, 1);

   &.card {
      height: 100%;
   }

   &.card-selectable {
      overflow: hidden;
      position: relative;
      display: flex;

      img, .image-details, .card-image-title {
         transition: all 200ms linear;
         border-radius: 5px;
         display: block;
      }

      &:hover {
         img {
            filter: blur(5px) grayscale(50%);
         }
         .image-details{
            opacity: 1;
         }
         .card-image-title{
            text-shadow: 1px 1px @main-color;
         }
      }

      img + .card-image-title {
         display: block;
         position: absolute;
         top: 15px;
         font-size: 24px;
         text-align: center;
         width: calc(100% - 30px);
         margin-left: 15px;
         user-select: none;
         pointer-events: none;
         background-color: rgba(0,0,0,0.5);
         box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.5);

         &.black{
            box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.5);
            background-color: rgba(255,255,255,0.5);
         }
      }
   
      .image-details{
         position: absolute;
         user-select: none;
         pointer-events: none;
         width: calc(~"100% - 50px");
         height: 100%;
         display: block;
         top: 75px;
         left: 25px;
         opacity: 0;
         .detail{
            display: inline-flex;
            border-radius: 3px;
            padding: 3px 5px;
            margin-left: 5px;
            margin-right: 5px;
            background-color: #424242;
            margin-bottom: 5px;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
            &.danger{
               color: @danger-color;
            }
         }
      }
   }

   .card-title {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 22px;
      color: black;
      padding: 5px 15px;
      border-radius: 5px 5px 0 0;
      width: 100%;
      background-color: @main-color;
   }

   .card-content {
      padding: 10px 20px;
      width: 100%;
      & > p:first-child {
         padding: 0;
         margin: 0;
      }
   }

   .card-footer{
      align-self: flex-end;
      width: 100%;
      padding: 10px 15px;
   }
}

.btn, .btn:hover, .btn:visited{
   padding: 8px 15px;
   background-color: @main-color;
   border: solid 1px lighten(@main-color, 5);
   color: black;
   font-size: 18px;
   border-radius: 2px;
   &.btn-full {
      width: 100%;
      display: inline-block;
      text-align: center;
   }
   &.btn-danger {
      background-color: @danger-color;
      border: solid 1px lighten(@danger-color, 5);
   }
   .fab {
      padding-right: 8px;
   }
}


header {
   height: @header-height;
   line-height: @header-height;
   background-color: @header-background;
   padding: 0 25px;
   box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.7);
   .icon {
      display: inline-block;
      font-size: 2em;
      color: #000;
      font-family: "Lobster", sans-serif;
   }

   .nav {
      display: inline-flex;
      float: right;
      a {
         padding: 0 15px;
         transition: all 80ms ease-in-out;
         color: #666;
         line-height: @header-height;

         &:hover {
            background-color: darken(@header-background, 5);
         }
      }

      #mobileNavToggle {
         display: hidden;
      }
   }
}

@media screen and (max-width: 1000px) {
   .nav{
      display: flex !important;
      flex-direction: column;
      left: -@mobile-nav-width;
      z-index: 100;
      position: fixed;
      top: 0;
      height: 100vh;
      background-color: @mobile-nav-background;
      width: @mobile-nav-width;
      transition: all 250ms ease-in-out;
      & > a {
         color: white !important;
         display: block !important;
         background-color: @mobile-nav-background;
         &:hover {
            background-color: darken(@mobile-nav-background, 5) !important;
         }
      }
   }

   #mobileNavToggle {
      display: inline-block;
   }

   body.showMobileNav {
      .nav {
         left: 0;
      }
   }
}

main {
   padding-top: 20px;
   margin-bottom: 40px;
   min-height: calc(~"100vh" - @header-height + 100px);
}

footer {
   bottom: 0;
   width: 100%;
   background-color: @footer-background;
   color: white;
   box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.7);
   margin: 0;
   padding: 0;

   .title{
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
      color:  #888;
   }

   .list{
      display: flex;
      flex-direction: column;
      a{
         color: #ccc;
         padding-top: 10px;
         padding-bottom: 10px;
      }
      a:hover{
         color: #aaa;
      }
   }

   .copyright{
      font-size: 1rem;
   }
}