{% extends "webpage/__template.html" %}

{% block body %}
<div class="row">
    <div class="s-xs-12 s-sm-12 s-md-6">
        <div class="card">
            <div class="title">Image</div>
            <div class="content">
                <img src="{% static 'webpage/src/projects/mtagsite.png' %}" alt="Maze-Dungeon-Game-Maker-Project" width="100%">
            </div>
        </div>
    </div>
    <div class="s-xs-12 s-sm-12 s-md-6">
        <div class="card">
            <div class="title">Description</div>
            <div class="content">
                <h3>Languages</h3>
                <ul>
                    <li>HTML</li>
                    <li>CSS [LESS PreProcessor]</li>
                    <li>JavaScript</li>
                </ul>

                <h3>Description</h3>
                <p>
                    This website was made for my Game Programming & Design vocational tech class. This showcases all the students MTAG games
                    for everyone to view.
                </p>

                <h3>Tools used</h3>
                <ul>
                    <li><a target="_blank" href="http://www.jquery.com/">jQuery</a> - A JavaScript Library for easier work</li>
                </ul>

                <h3>What I learned from making this website</h3>
                <ul>
                    <li>How to poorly make load a bunch of websites and put them in a list for the user</li>
                    <li>Starting with creating a grid system</li>
                </ul>


                <a class="btn btn-full" target="_blank" href="https://gitlab.com/ebraptus/mtag">Gitlab Source Code</a>
                <br><br>
                <a class="btn btn-full" target="_blank" href="http://mtag.johndeshano.me/">Website Link</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}