#footer
    .container
        .row
            .s6
                h2.title Contact Information
                .list
                    a(href="mailto:john@johndeshano.me" target="_blank") Email >
                    a(href="https://github.com/ebraptus" rel="noopener" target="_blank") GitHub >
            .s6
                h2.title Navigation
                .list
                    a(href="/") Home >
                    a(href="/projects/") Projects >
                    a(href="/skills/") Skills >
                    a(href="/languages/") Languages >
                    a(href="/toolset/") Toolset >
                    a(href="/education/") Education >
                    a(href="/contact/") Contact
        .copyright Copyright &copy; 2018 John DeShano, All Rights Reserved