#header
    .container
        a.icon(href="/") John DeShano

        .nav
            a(href="/") Home
            a(href="/projects/") Projects
            a(href="/skills/") Skills
            a(href="/languages/") Languages
            a(href="/toolset/") Toolset
            a(href="/education/") Education
            a(href="/contact/") Contact

        #mobileNavToggle
            i.fas.fa-bars