extends __template

block css

block js

block body
    .row
        .s6.s-offset-3
            .card
                .card-title 404
                .card-content 404 the page you are looking for doesnt exist <br> if you belive this is a issue contact me at 
                    a(href="mailto:webmaster@johndeshano.me") webmaster@johndeshano.me