extends __template

block css

block js

block body
    h1 404
    .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .card
                .card-title 404
                .card-content 404 the page you are looking for doesnt exist <br> if you belive this is a issue contact me at 
                    a(href="mailto:webmaster@johndeshano.me") webmaster@johndeshano.me