extends __template

block css

block js

block body
    .row
        .s6.s-offset-3
            .card
                .card-title Contact me
                .card-content You can contact me by leaving me an email at: 
                    a(href="mailto:john@johndeshano.me") john@johndeshano.me