extends __template

block css

block js

block body
    h1.primary.bold Education
    
    section#College
        h2 College
        .grid
            .col-4_xs-12_sm-6
                .card
                    .card-title Henry Ford College
                    .card-content
                        div
                            strong Duration:
                            |  Summer 2020 - Current

                        div
                            strong Major:
                            |  Computer Science

            .col-4_xs-12_sm-6
                .card
                    .card-title Eastern Michigan University
                    .card-content
                        div
                            strong Duration:
                            |  Fall 2019 - Winter 2019

                        div
                            strong Major:
                            |  Computer Science Applied

    section#Interships
        h2 Internships
        .grid
            .col-4_xs-12_sm-6
                .card
                    .card-title Wayne RESA
                    .card-content
                        section
                            .bold.primary.text-md General
                            strong Duration: 
                            |  June 2019 - Current

                        section
                            .bold.primary.text-md Learning Points
                            ul
                                li Service Desk - Jira / Confluence
                                li Computer Repair
                                li Web Development
                                ul
                                    li HTML / Jade
                                    li CSS / LESS
                                    li JS
                                    li C# ASP.net / MVC
                                li CMS Development
                                ul
                                    li WordPress
                                    li Foxbright
                                    li Finalsite
                                li Systems Administration
                                ul
                                    li SCCM
                                    li Print Server Management
                                    li Active Directory

            .col-4_xs-12_sm-6
                .card
                    .card-title General Electric
                    .card-content
                        section
                            .bold.primary.text-md General

                            strong Duration: 
                            |  2 Days
                        
                        section
                            .bold.primary.text-md Learning Points
                            ul
                                li Agile
                                li Team Development
                                li Arduino
                                li C Programming