extends __template

block css

block js
    script(src="/js/home.js")

block body
    .row
        .s12
            .card
                .card-content
                    .row
                        .col-xs-12.col-sm-4
                            .carousel
                                .carousel-image
                                    img(class="left" src="/src/header1.jpg" width="100%" alt="John-DeShano")
                                .carousel-image.hide
                                    img(class="left" src="/src/header2.jpg" width="100%" alt="John-DeShano")
                        .col-xs-12.col-sm-8
                            <h1>I'm John DeShano</h1>
                            <p>I am a full stack web developer, software engineer, CAD Architect, and a constant learner from Westland, Michigan.</p>
                            <p>I have been programming since I was 8 years old, starting with batch files and now I make websites, software, and study assembly.</p>
                            <p>I am learning over 8 programming languages including C++, Python, C#, HTML, CSS, JavaScript, PHP, MySQL, and many more.</p>

    h1 Projects
        a.right(href="/projects/") More Projects >
    
    .row
        div(class="col-xs-12 col-sm-12 col-md-6 col-lg-4")
            a.card-selectable(href="/projects/portfolio/")
                img(src="/src/projects/portfolio.jpg" alt="Project-Portfolio" width="100%")
                .card-image-title.white Portfolio
                .image-details
                    .detail HTML5(PUG)
                    .detail CSS(LESS)
                    .detail JavaScript
                    .detail NodeJS
                    .detail Flask
                    .detail Django
                    .detail Jinja2

        div(class="col-xs-12 col-sm-12 col-md-6 col-lg-4")
            a.card-selectable(href="/projects/mtagsite/")
                img(src="/src/projects/mtagsite.png" alt="Project-MTAG-Site-Website" width="100%")
                .card-image-title.white MTAG Website
                .image-details
                    .detail HTML5
                    .detail CSS(LESS)
                    .detail JavaScript
