extends __template

block css

block js
    script(src="/js/home.js")

block body
    .row
        .col-xs-12.col-md-9
            .card 
                .card-content
                    .row
                        .col-xs-12.col-sm-3
                            .carousel
                                .carousel-image
                                    img(class="left" src="/src/header1.jpg" width="100%" alt="John-DeShano")
                                .carousel-image.hide
                                    img(class="left" src="/src/header2.jpg" width="100%" alt="John-DeShano")

                        .col-xs-12.col-sm-9
                            <h1>John DeShano</h1>
                            <h3>Software Developer, Full Stack Web Developer, CAD Architect</h3>
                            div(style="margin-top: 25px")
                                a(target="_blank" rel="noopener" title="John DeShano Github" href="https://github.com/johndeshano/" style="background-color: black; color: white;").socialicon
                                    i.fab.fa-github
                                a(target="_blank" rel="noopener" title="John DeShano Linkedin" href="https://www.linkedin.com/in/johndeshano/" style="background-color: #0077B5; color: white;").socialicon
                                    i.fab.fa-linkedin-in
                                a(target="_blank" rel="noopener" title="John DeShano Codepen" href="https://codepen.io/johndeshano" style="background-color: #212121; color: white;").socialicon
                                    i.fab.fa-codepen
            
            h2(style="margin-top: 15px") Projects
                a(href="/projects/").right More Projects
                    span(style="margin-left: 5px").fas.fa-chevron-right
            .row
                .col-xs-6
                    .card
                        .card-title Wayne RESA Website
                        .card-image
                            img(src="/src/projects/wresa.png" alt="Wayne RESA Website")
                        .card-footer
                            a(href="/projects/resanet/").btn-full More Info

                .col-xs-6
                    .card
                        .card-title Michigan STEM Network Website
                        .card-image
                            img(src="/src/projects/MiSTEM.png" alt="Michigan STEM Network Website")
                        .card-footer
                            a(href="/projects/mistem/").btn-full More Info

        //- ===============
        //- === Sidebar ===
        //- ===============
        .col-xs-12.col-md-3
            .card
                .card-content
                    div
                        .fas.fa-location-arrow.fa-fw(style="margin-right: 5px")
                        span Westland, Michigan
                    div
                        .fas.fa-briefcase.fa-fw(style="margin-right: 5px")
                        a(target="_blank" rel="noopener" href="https://www.resa.net/") Wayne RESA
                    div
                        .far.fa-envelope.fa-fw(style="margin-right: 5px")
                        a(target="_blank" href="mailto:contact@johndeshano.me") contact@johndeshano.me
            .card
                .card-title Languages
                    a.right(href="#")
                        span.fas.fa-chevron-right
                .card-content
                    div C++
                    div C#
                    div HTML
                    div CSS
                    div LESS
                    div JavaScript
                    div PHP
                    div MySQL
                    div LUA

            .card
                .card-title Skills
                .card-content
                    div Full Stack Web Development
                    div Software Development
                    div ADA Compliance
                    div Agile
                    div LAN/AV Tech Support
                    div 3D Modeling
                    div 3D Printing