extends __template

block js
    script(src="/static/js/home.js")

block body
    section#Intro
        .grid
            .col-9_xs-12_sm-12_md-8
                //- About Me Main
                .card
                    .card-content
                        section
                            .bold.text-xl John DeShano
                            .subtitle.bold Software Developer, Web Developer, Computer Technican
            .col-3_xs-12_sm-12_md-4
                //- About me Side
                .card
                    .card-content
                        div
                            .fas.fa-location-arrow.fa-fw(style="margin-right: 5px")
                            span Westland, Michigan
                        div
                            .far.fa-envelope.fa-fw(style="margin-right: 5px")
                            a(target="_blank" href="mailto:contact@johndeshano.me") contact@johndeshano.me

    section#Certifications
        h2 Certifications
        .grid
            .col-4_sm-12
                .card
                    .card-content
                        img(src="/static/img/comptia_a_plus.png" alt="CompTIA A+ Certfication Badge" width="25%").right

                        h3.bold CompTIA A+

                        ul.nobullets
                            li Issued: December 12th 2020
                            li Expires: December 12th 2023
                    .card-footer
                        a.btn.btn-full(href="https://www.youracclaim.com/badges/d01d312c-9f1f-43c4-b22c-264dd2d61228/public_url" target="_blank" rel="noopener noreferrer") More Info

    section#Skills
        h2(style="margin-top: 15px") Skills
        .carousel.grid-noWrap
            //- =================================
            //- == Web Development Skills Card ==
            //- =================================
            .carousel-item.col-4_xs-12_sm-6
                .card-tall.skills-card
                    .card-icon
                        span.fa-fw.fas.fa-code
                    .card-content
                        section.header
                            .text-center.bold.text-lg Web Development

                        section
                            .primary-light.bold.text-md Languages
                            ul
                                li HTML / PUG.js
                                li CSS / LESS
                                li JavaScript
                                li PHP
                                li C#
                                li MongoDB / Mongoose
                                li MySQL

                        section
                            .primary-light.bold.text-md Tools
                            ul
                                li NodeJS
                                li Python Flask
                                li Django
                                li Git / Github / Bitbucket


            //- ======================================
            //- == Software Development Skills Card ==
            //- ======================================
            .carousel-item.col-4_xs-12_sm-6
                .card-tall.skills-card
                    .card-icon
                        span.fa-fw.fas.fa-laptop-code
                    .card-content
                        section.header
                            .text-center.bold.text-lg Software Development

                        section
                            .primary-light.bold.text-md Languages
                            ul
                                li C++
                                li C#
                                li Python
                                li LUA

                        section
                            .primary-light.bold.text-md Tools
                            ul
                                li VS Code
                                li Visual Studio 2013-2019
                                li Windows Terminal / Powershell
                                li Linux (Ubuntu) Terminal
                                li Git / Github / Bitbucket
                                li Confluence Documentation

            //- =====================================
            //- == Computer Technician Skills Card ==
            //- =====================================
            .carousel-item.col-4_xs-12_sm-6
                .card-tall.skills-card
                    .card-icon
                        span.fa-fw.fas.fa-screwdriver
                    .card-content
                        section.header
                            .text-center.bold.text-lg Computer Technician

                        section
                            .primary-light.bold.text-md Skills
                            ul
                                li Windows
                                li Linux
                                li Mac
                                li SCCM
                                li Laptop Repair
                                li Desktop Repair
                                li Jira Service Desk
                                li Confluence Documentation

                        section
                            .primary-light.bold.text-md Tools
                            ul
                                li VS Code
                                li Visual Studio 2013-2019
                                li Windows Terminal / Powershell
                                li Linux (Ubuntu) Terminal
                                li Git / Github

            //- ==========================
            //- == Engineer Skills Card ==
            //- ==========================
            .carousel-item.col-4_xs-12_sm-6
                .card-tall.skills-card
                    .card-icon
                        span.fa-fw.fas.fa-wrench
                    .card-content
                        section.header
                            .text-center.bold.text-lg Engineer

                        section
                            .primary-light.bold.text-md Skills
                            ul
                                li CAD 2D / 3D Modeling
                                li Arduino
                                li Rasperry Pi

                        section
                            .primary-light.bold.text-md Tools
                            ul
                                li Fusion 360
                                li AutoCAD
                                li OnShape
                                li TinkerCAD


            //- ========================================
            //- == Systems Administration Skills Card ==
            //- ========================================
            .carousel-item.col-4_xs-12_sm-6
                .card-tall.skills-card
                    .card-icon
                        span.fa-fw.fas.fa-wrench
                    .card-content
                        section.header
                            .text-center.bold.text-lg Systems Administration

                        section
                            .primary-light.bold.text-md Skills
                            ul
                                li SCCM
                                li Powershell / Windows Terminal
                                li Linux Terminal
                                li Jira ServiceDesk
                                li Confluence Documentation
