extends __template

block css

block js

block body
    - var blockstyle = "col-xs-12 col-sm-6 col-md-6 col-lg-4";
    h1.pagetitle Projects
    h2 Websites
    .row
        div(class=blockstyle)
            a.card-selectable(href="/projects/resanet/")
                img(src="/src/projects/wresa.png" alt="Screen Capture of Wayne RESA Website")
                .card-image-title.black Wayne RESA Website
                .image-details
                    .detail Foxbright CMS
                    .detail Finalsite CMS
                    .detail HTML
                    .detail CSS

        div(class=blockstyle)
            a.card-selectable(href="/projects/mistem/")
                img(src="/src/projects/MiSTEM.png" alt="Screen Capture of MiSTEM website")
                .card-image-title.black MiSTEM Website
                .image-details
                    .detail WordPress
                    .detail HTML
                    .detail CSS
                    .detail JavaScript
                    .detail MultiSite

        div(class=blockstyle)
            a.card-selectable(href="/projects/mtagsite/")
                img(src="/src/projects/mtagsite.png" alt="MTAG website screen capture")
                .card-image-title.white MTAG Website
                .image-details
                    .detail HTML5
                    .detail CSS(LESS)
                    .detail JavaScript