{% extends "webpage/__template.html" %}

{% block description %}Page not found, Broken link or bad URL{% endblock %}

{% block body %}
	<div class="row">
		<div class="s12">
			<div class="card">
				<div class="card-title">404</div>
				<div class="card-content">
					404 Error - Page not found
					<br>
					If you believe this is an error please send an email to <a href="mailto:webmaster@johneshano.me" target="_blank">webmaster@johndeshano.me</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
