<!DOCTYPE html>
	<html lang="en">
	<head>
		<!-- Meta Data -->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="hostname" content="johndeshano.me">
		<meta name="expected-hostname" content="johndeshano.me">
		<meta name="description" content="{% block description %} The portfolio of John de Shano, this page is used to show off all of my talents and the projects I have done in the past and what I plan for the future. {% endblock %}">
		<meta name="keywords" content="Portfolio,John,de,Shano,DeShano,JohnDeShano,CSS,HTML,JS,JavaScript,PHP,Flask,Python,C++,Game,Developer,Security,Researcher,Debugger,MTA,Wayne,{% block keywords %} {% endblock %}">
		<meta name="author" content="John de Shano">

		<!-- Title -->
		<title>{{ title }} - John de Shano</title>
		
		<!-- Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-77147759-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-77147759-2');
		</script>

		
		<!-- Style Sheets -->
		<link rel="stylesheet" type="text/css" href="{% static 'webpage/css/grid.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'webpage/css/master.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'webpage/css/portfolio.css' %}">

		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato|Roboto">
		<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css">

		{% block stylesheets %} {% endblock %}
	</head>
	<body>
		{% include 'webpage/_header.html' %}

		<div class="container" id="content">
			<h1>{{ title }}</h1>
			{% block body %} {% endblock %}
		</div>

		<script src="{% static 'webpage/js/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'webpage/js/master.js' %}"></script>
		<script src="{% static 'webpage/js/portfolio.js' %}"></script>
		
		{% block scripts %} {% endblock %}
	</body>
</html>