<!-- Footer Start -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="s6">
                <h2 class="title">Contact Information</h2>
                <!-- Email -->
                <a href="mailto:john@johndeshano.me" class="socialIcon" style="background-color: #666" target="_blank">
                    <i class="far fa-envelope"></i>
                </a>

                <!-- Github -->
                <a href="https://github.com/ebraptus" rel="noopener" class="socialIcon" style="background-color: #000" target="_blank">
                    <i class="fab fa-github"></i>
                </a>

                <!-- Instagram -->
                <a href="https://www.instagram.com/johndeshano/" rel="noopener" class="socialIcon" style="background-color: #6d4c41" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>

            </div>
            <div class="s6">
                <h2 class="title">Navigate</h2>
                <div class="list">
                    <a href="/">Home ></a>
                    <a href="/projects/">Projects ></a>
                    <a href="/skills/">Skills ></a>
                    <a href="/languages/">Languages ></a>
                    <a href="/toolset/">Toolset ></a>
                    <a href="/education/">Education ></a>
                    <a href="/contact/">Contact ></a>
                </div>
            </div>
        </div>
        &copy; 2018 John DeShano
    </div>
</div>
<!-- Footer End -->