{% extends 'webpage/__template.html' %}

{% block description %}Everything I have proof that I have learned is here{% endblock %}

{% block body %}
{% with "s-xs-12 s-sm-12 s-md-6" as blockstyle %}
<h2>Certifications</h2>
<div class="row">
	<div class="{{ blockstyle }}">
		<div class="card">
			<div class="title">MTA: Windows Operating System Fundamentals</div>
			<div class="content">
				<div>Date: 31 May 2018</div>
				<div>Issuer: Microsoft</div>
				<div>Skills: Operating System Configuration, Operating System Management</div>
			</div>
			<div class="footer">
				<a href="https://www.youracclaim.com/badges/43655f28-728b-40ee-9118-199f28a4c218/public_url" target="_blank" class="btn btn-full">More
					Info</a>
			</div>
		</div>
	</div>

	<div class="{{ blockstyle }}">
		<div class="card">
			<div class="title">MTA: Introduction to Programming Using HTML and CSS</div>
			<div class="content">
				<div>Date: 16 May 2018</div>
				<div>Issuer: Microsoft</div>
				<div>Skills: CSS, HTML, HTML5</div>
			</div>
			<div class="footer">
				<a href="https://www.youracclaim.com/badges/14ffcd47-7580-4551-ad3d-a1562a1ad834/public_url" target="_blank" class="btn btn-full">More
					Info</a>
			</div>
		</div>
	</div>

	<div class="{{ blockstyle }}">
		<div class="card">
			<div class="title">MTA: Introduction to Programming Using JavaScript</div>
			<div class="content">
				<div>Date: 16 May 2018</div>
				<div>Issuer: Microsoft</div>
				<div>Skills: JavaScript</div>
			</div>
			<div class="footer">
				<a href="https://www.youracclaim.com/badges/ff281f65-9362-4bd4-a8df-df8c81e17ac9/public_url" target="_blank" class="btn btn-full">More
					Info</a>
			</div>
		</div>
	</div>

	<div class="{{ blockstyle }}">
		<div class="card">
			<div class="title">MTA: Introduction to Programming Using Python</div>
			<div class="content">
				<div>Date: 17 May 2018</div>
				<div>Issuer: Microsoft</div>
				<div>Skills: Python, Python Programming</div>
			</div>
			<div class="footer">
				<a href="https://www.youracclaim.com/badges/25585530-f812-42f6-bd30-279b598bac34/public_url" target="_blank" class="btn btn-full">More
					Info</a>
			</div>
		</div>
	</div>

	<div class="{{ blockstyle }}">
		<div class="card">
			<div class="title">MTA: Introduction to Programming using Block-Based Languages</div>
			<div class="content" style="padding-bottom: 30px">
				<div>Date: 17 May 2018</div>
				<div>Issuer: Microsoft</div>
				<div>Skills: Block Based Programming, Design Algorithms, Modeling and Simulation, Software Development Process,
					Touch Develop</div>
			</div>
			<div class="footer">
				<a href="https://www.youracclaim.com/badges/00b48444-1a81-4b41-820d-f59935c0115e/public_url" target="_blank" class="btn btn-full">More
					Info</a>
			</div>
		</div>
	</div>

	<div class="{{ blockstyle }}">
		<div class="card">
		<div class="title">MTA: Software Development Fundamentals</div>
			<div class="content" style="padding-bottom: 30px">
				<div>Date: 01 Nov 2018</div>
				<div>Issuer: Microsoft</div>
				<div>Skills: Core Programming, Databases, Desktop Applications, General Software Development, Object-oriented Programming, Web Applications</div>
			</div>
			<div class="footer">
			<a href="https://www.youracclaim.com/badges/4b373f3e-dfe3-44a9-86b8-0b758c8597dc/public_url" target="_blank" class="btn btn-full">More Info</a>
			</div>
		</div>
	</div>

	<div class="{{ blockstyle }}">
		<div class="card">
			<div class="title">MTA: HTML5 Application Development Fundamentals</div>
			<div class="content" style="padding-bottom: 30px">
				<div>Date: 01 Nov 2018</div>
				<div>Issuer: Microsoft</div>
				<div>Skills: Application Lifecycle Management, HTML5 Build User Interface, HTML5 Technology, JavaScript, User Interface CSS Formatting</div>
			</div>
			<div class="footer">
				<a href="https://www.youracclaim.com/badges/a62d0427-87ab-462b-8b1c-b0b64ed0e820/public_url" target="_blank" class="btn btn-full">More Info</a>
			</div>
		</div>
	</div>
</div>


<h2>Schooling</h2>
<div class="row">
	<div class="{{ blockstyle }}">
		<div class="card">
			<div class="title">Game Design & Programming 1</div>
			<div class="content">
				<div><strong>School:</strong> Wayne Memorial High School Vocational Tech</div>
				<div><strong>Year:</strong> 2017 - 2018</div>
				<div><strong>Languages:</strong> JavaScript, GameMaker Language, Python, HTML, CSS</div>
				<p>
					This is a course I took in high school in the 11th grade, this is a class that teaches not only Javascript programming
					as well as game programming in Game Make Studio 2, This class also taught me a lot of good resources like Agile
					software development and how to work better as a team. This class was a good learning experience as I knew a lot of
					programming already but not a lot of class for say was programming. A lot of it also taught me what to do in a software
					development environment.
				</p>
			</div>
		</div>
	</div>

	<div class="{{ blockstyle }}">
		<div class="card">
			<div class="title">Game Design & Programming 2</div>
			<div class="content">
				<div><strong>School:</strong> Wayne Memorial High School Vocational Tech</div>
				<div><strong>Year:</strong> 2018 - 2019</div>
				<div><strong>Languages:</strong> GameMaker Language, JavaScript, Python</div>
				<p>
					This is a course I took in high school in the 12th grade, this class taught me so much and really was a huge stepping
					stone, not into programming but getting into a programming job and learning how to work as a team. I had done so much
					programming in the past that I didn't really have anything to learn in class about that. But I did learn to help others
					learn how to start programming and that's what I tried to do. I spent a lot of time teaching better code practices to
					fellow classmates and friends. This is the year that I and 5 other friends started Your8BitGame.com and we had our
					teacher as a major help in this and gave us the idea and helped us get started. This was an amazing tribute to our
					teamwork and helped us get into agile based programming.
				</p>
			</div>
		</div>
	</div>
</div>

<h2>Internships</h2>
<div class="row">
	<div class="{{ blockstyle }}">
		<div class="card">
			<div class="title">General Electic</div>
			<div class="content">
				<p>
					I had an 2 day internship at GE with a few people from my Principals of Computing class, in this internship we learned
					a lot about how GE works and how they do software development. Later into the internship, we spent time with Arduino
					learning to program them and later we had a group. In our groups, we split our resources and made an idea as one way we
					could "Help the environment" with our ideas and develop and deploy it. Our group did energy conservation with an
					Arduino that auto detected the light value outside and changed the lighting indoors to match a good light value to save
					on resources. In the process we used agile software development methods to do this and it helped me wrap my head around
					Agile and working as a team.
				</p>
			</div>
		</div>
	</div>
</div>
{% endwith %}
{% endblock %}