{% extends 'webpage/__template.html' %}

{% block script %}
<script type="text/javascript">
  function updateCarousel(){
    $(".carousel").each(function(){
      $(this).data("count", $(this).find(".carousel-image").length);

      curIndex = $(this).data("index");
      $(this).find(".carousel-image").each(function(index){
        if(index != curIndex){
          $(this).addClass("hide");
        }else{
          $(this).removeClass("hide");
        }
      });

    });
  }

  function stepCarousel(){
    $(".carousel").each(function(){
      $(this).data("index", $(this).data("index") + 1);
      if($(this).data("index") == $(this).data("count")){
        $(this).data("index", 0);
      }
    });
  }

  function initCarousel(){
    $(".carousel").each(function(){
      if($(this).data("index") == undefined){
        $(this).data("index", 0);
      }

      delay = $(this).data("delay");
      if(delay == undefined){
        delay = 5000;
      }

      window.setInterval(function(){
        stepCarousel();
        updateCarousel();
      }, delay);
    });
  }

  initCarousel();
  updateCarousel();
</script>
{% endblock %}

{% block body %}
<!--  About Me Start  -->
<div class="row">
    <div class="s12">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <div class="s4">
                        <div class="carousel">
                          <div class="carousel-image">
                            <img class="left" src="{% static 'webpage/src/header1.jpg' %}" width="100%" alt="John-De-Shano">
                          </div>
                          <div class="carousel-image hide">
                            <img class="left" src="{% static 'webpage/src/header2.jpg' %}" width="100%" alt="John-De-Shano">
                          </div>
                        </div>
                    </div>

                    <div class="s8">
                        <h1>I'm John DeShano</h1>
                        <p>A 17 year old programmer from Westland, Michigan</p>
                        <p>I have been programming since I was 8 years old, starting with batch files and now I make websites, software, and study assembly.</p>
                        <p>I am learning over 8 programming languages including C++, Python, C#, HTML, CSS, JavaScript, PHP, MySQL, and many more.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  About Me End  -->
{% endblock %}
