{% extends 'webpage/__template.html' %}

{% block body %}
<h3>About me</h3>
<div class="row">
    <div class="s12">
        <div class="card">
            <div class="title">About Me</div>
            <div class="content">
                <p>
                    My name is John de Shano, I am a 17 year old software engineer, web developer, and security
                    researcher from Westland, Michigan.
                </p>
                <p>
                    I am currently a junior in high school at Wayne Memorial. I have been programming since I was
                    8, starting on a family computer with batch programs that asked simple questions, later I started
                    learning
                    HTML, CSS, and Javascript. I began learning C++ in December of 2016 as my first time actually
                    learning
                    a full object based programming language. Later, using it to learn about reverse engineering
                    programs
                    and see the assembly and how it relates to the machine itself.
                </p>
            </div>
        </div>
    </div>
</div>

<h3>My Accomplishments</h3>

<div class="row">
    {% with "s-xs-12 s-sm-12 s-md-6" as blockset %}
    <div class="{{ blockset }}">
        <div class="card">
            <div class="title">Your8BitGame</div>
            <div class="content">
                <p>
                    This is a company me and 5 friends from my senior year high school class with the help out our
                    teacher. This was a company where we take old bit games and remake them in game maker studio 2, and
                    from there people could pay to have the game customized for them, with stuff like their family and
                    in their own environment that they choose.
                </p>
            </div>
        </div>
    </div>
    {% endwith %}
</div>


{% endblock %}