{% extends 'webpage/__template.html' %}

{% block description %}All of my projects that I am proud enough to show off{% endblock %}

{% block body %}
{% with "s4 s-xs-12 s-sm-12 s-md-6 s-lg-4" as blockset %}
<div class="row">
	<div class="{{ blockset }}">
		<a href="/projects/portfolio/" class="card-selectable">
			<img src="{% static 'webpage/src/projects/portfolio.jpg' %}" alt="Project-Portfolio" width="100%">
			<div class="card-image-title white">Portfolio Website</div>
			<div class="image-details">
				<div class="detail">HTML5</div>
				<div class="detail">CSS(LESS)</div>
				<div class="detail">JavaScript</div>
				<div class="detail">Django</div>
				<div class="detail">Jinja2</div>
			</div>
		</a>
	</div>

	<div class="{{ blockset }}">
		<a href="/projects/kamshooter/" class="card-selectable">
			<img src="{% static 'webpage/src/projects/kam-shooter.jpg' %}" alt="Project-Kam-Shooter" width="100%">
			<div class="card-image-title white">Kam Shooter</div>
			<div class="image-details">
				<div class="detail">TouchDevelop</div>
				<div class="detail">JavaScript</div>
			</div>
		</a>
	</div>

	<div class="{{ blockset }}">
		<a href="/projects/console/" class="card-selectable">
			<img src="{% static 'webpage/src/projects/console.jpg' %}" alt="Project-Console" width="100%">
			<div class="card-image-title white">Console</div>
			<div class="image-details">
				<div class="detail">C++</div>
			</div>
		</a>
	</div>

	<div class="{{ blockset }}">
		<a href="/projects/maze/" class="card-selectable">
			<img src="{% static 'webpage/src/projects/maze1.png' %}" alt="Project-Dungeon-Maze-Game" width="100%">
			<div class="card-image-title white">Dungeon Maze Game</div>
			<div class="image-details">
				<div class="detail">Game Maker Language</div>
			</div>
		</a>
	</div>

	<div class="{{ blockset }}">
		<a href="/projects/mtagsite/" class="card-selectable">
			<img src="{% static 'webpage/src/projects/mtagsite.png' %}" alt="Project-MTAG-Site-Website" width="100%">
			<div class="card-image-title white">MTAG Website</div>
			<div class="image-details">
				<div class="detail">HTML5</div>
				<div class="detail">CSS3(LESS)</div>
				<div class="detail">JavaScript</div>
			</div>
		</a>
	</div>

</div>
{% endwith %}
{% endblock %}